doctype html
html(lang="de")
    head
        meta(charset="utf-8")
        title= `${title} | ${h.appName}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/public/assets/styles.css')
body
    != h.spritesheet()

    header.aw-header

        .aw-header__menu
            button.aw-header__menu-btn(aria-label="Main Menu")
                span
                span
                span

        .aw-header__title
            a.aw-header__title-link(href="/")
                != h.image("logo.svg")
                span= h.appName

        ul.aw-header__actions
            li.aw-header__action
                a.aw-header__link.aw-header__submenu-trigger(href="", aria-label="Change Language")
                    != h.icon("language")
                ul.aw-header__submenu.aw-header__submenu--left.aw-header__submenu--medium(aria-hidden="true")
                    li.aw-header__submenu-item
                        a.aw-header__submenu-item-link.aw-header__submenu-item-link--active(href="/language/en/")
                            != h.image("flags/en.svg")
                            | English
                    li.aw-header__submenu-item
                        a.aw-header__submenu-item-link(href="/language/de/")
                            != h.image("flags/de.svg")
                            | Deutsch
            li.aw-header__action
                a.aw-header__link.aw-header__submenu-trigger(href="", aria-label="Games")
                    != h.icon("games")
                    span.keep g1
                ul.aw-header__submenu.aw-header__submenu--left(aria-hidden="true")
                    li.aw-header__submenu-item
                        a.aw-header__submenu-item-link.aw-header__submenu-item-link--active(href="/game/1/", data-gameid="1") g1 (Alpha)
                    li.aw-header__submenu-item
                        a.aw-header__submenu-item-link(href="/game/2/", data-gameid="2") g2 (Beta)
            li.aw-header__action
                a.aw-header__link(href="/auth/login/")
                    != h.icon("key")
                    span Login
            li.aw-header__action
                a.aw-header__link(href="/auth/register/")
                    != h.icon("lightbulb")
                    span Register
            li.aw-header__action
                a.aw-header__link.aw-header__submenu-trigger.aw-header__link--circle(href="/auth/profile/")
                    img.aw-header__avatar(src="/public/assets/images/user-anon.svg")
                ul.aw-header__submenu.aw-header__submenu--right.aw-header__submenu--medium(aria-hidden="true")
                    li.aw-header__submenu-item
                        a.aw-header__submenu-item-link(href="/profile/") Profile
                    li.aw-header__submenu-item
                        a.aw-header__submenu-item-link(href="/auth/changepassword/") Change Password
            li.aw-header__action
                a.aw-header__link(href="/auth/logout/")
                    != h.icon("power")
                    span Logout

    .aw-main-wrapper
        section.aw-drawer(aria-hidden="true")

            ul.aw-drawer__list

                li.aw-drawer__list-item.aw-drawer__list-item--info
                    .aw-drawer__info
                        .aw-drawer__info-label server time
                        .aw-drawer__info-value
                            time(datetime="2017-07-10T19:41:05.133Z", data-server-time) 00:00
                    .aw-drawer__info.aw-drawer__info--darker
                        .aw-drawer__info-label local time
                        .aw-drawer__info-value
                            time(datetime="", data-my-time) 00:00
                li.aw-drawer__list-item
                    .aw-drawer__turn
                        .aw-drawer__turn-current
                            .aw-drawer__turn-current-label Aktuelle Runde
                            .aw-turn
                                != h.icon("turn", ["turn"])
                                .aw-turn__value 21
                        .aw-drawer__turn-next
                            .aw-drawer__turn-next-label Nächste Runde
                            .aw-drawer__turn-next-progress
                                .aw-progress.aw-progress-turn(data-max="15", data-value="14")
                                    != h.progressbar(15,14)
                            .aw-drawer__turn-next-time
                                time(datetime="2017-07-10T19:45:05.133Z", data-time-next-turn) 00:00

                li.aw-drawer__list-item
                    a.aw-drawer__link.aw-drawer__link--active(href="/game/1/empire/")
                        != h.icon("empire", ["small"])
                        | Empire
                li.aw-drawer__list-item
                    a.aw-drawer__link(href="/game/1/fleets/")
                        != h.icon("fleet", ["small"])
                        | Fleets
                li.aw-drawer__list-item
                    a.aw-drawer__link(href="/game/1/shipyards/")
                        != h.icon("build", ["small"])
                        | Shipyards
                li.aw-drawer__list-item
                    a.aw-drawer__link(href="/game/1/research/")
                        != h.icon("research", ["small"])
                        | Research
                li.aw-drawer__list-item
                    a.aw-drawer__link(href="/game/1/starchart/")
                        != h.icon("starchart", ["small"])
                        | Starchart
                li.aw-drawer__list-item
                    a.aw-drawer__link(href="/game/1/galnet/")
                        != h.icon("galnet", ["small"])
                        | GalNet

                li.aw-drawer__list-item.aw-drawer__list-item--spacer
                li.aw-drawer__list-item
                    a.aw-drawer__link(href="/help/") Help

        section#content.aw-content

            main.aw-content__inner
                h1= h.appName
                block content
                    p This is the default!

                h3 Session Data
                pre= h.dump(session)

            footer.aw-footer
                address.aw-footer__meta
                    | handcrafted with
                    span ❤
                    | by Sven Scharfenberg
                ul.aw-footer__list
                    li.aw-footer__list-item
                        a.aw-footer__link(href="/privacy-policy/") Privacy Policy
                    li.aw-footer__list-item
                        a.aw-footer__link(href="/imprint/") Imprint
                    li.aw-footer__list-item
                        a#footerJumpTop.aw-footer__link.aw-footer__link--icon(href="#main")
                            != h.icon("arrow_up")

    block scripts
        include webpack.includes/app.footer.pug
