extends ../layout

block head
    link(rel='stylesheet', href='/public/assets/styles.css')
    link(rel='stylesheet', href='/public/assets/admin.css')

block content
    main.aw-content__inner
        header.aw-content-head
            h1.aw-content-head__title= title
            nav.aw-content-head__breadcrumbs
                a.aw-content-head__breadcrumb(href="/")
                    != h.icon("home", ["home-icon"])
                a.aw-content-head__breadcrumb(href="/admin")= h.__("ADMIN.INDEX.TITLE_NAV")
                a.aw-content-head__breadcrumb(href="/admin/emails")= h.__("ADMIN.EMAILS.TITLE_NAV")

        .aw-grid
            each template in templates
                .aw-grid__headline= template.name
                .aw-grid__row.aw-btn-group
                    each locale in cfg.app.locales
                        a.aw-btn(href=`/admin/emails/${template.name}/lang/${locale.name}`)
                            != locale.native


block scripts
    include ../webpack/app.footer.pug
