extends ../layout

include ../mixins/_pagination

block head
    link(rel='stylesheet', href='/public/assets/styles.css')
    link(rel='stylesheet', href='/public/assets/admin.css')

block content
    main.aw-content__inner
        header.aw-content-head
            h1.aw-content-head__title= title
            nav.aw-content-head__breadcrumbs
                a.aw-content-head__breadcrumb(href="/")
                    != h.icon("home", ["home-icon"])
                a.aw-content-head__breadcrumb(href="/admin")= h.__("ADMIN.INDEX.TITLE_NAV")
                a.aw-content-head__breadcrumb(href="/admin/games")= h.__("ADMIN.GAMES.TITLE_NAV")

        //- Change Avatar form
        form#sortGames(
            action=`/admin/games`,
            method="POST"
        )
            p
                a.aw-btn.aw-btn--icon(href=`/admin/games/new`)
                    != h.icon("games", ["small"])
                    != h.__("ADMIN.GAME.TITLENEW")

            +pagination(page, pages, count, "/admin/games/p", `/s/${sortField}/d/${sortDirection}`)

            .aw-grid
                .aw-grid__headline= h.__("ADMIN.GAMES.HEADLINE")
                table.admin-listtable

                    //- header row including sort radio buttons
                    thead
                        tr.admin-listtable__row

                            th.aw-sort__sortable
                                != h.__("ADMIN.GAMES.HEAD.NUMBER")
                                .aw-sort
                                    .aw-sort__item
                                        input(
                                            type="radio",
                                            name="sort",
                                            value="number_asc",
                                            id="sort_number_asc",
                                            aria-label=(h.__("APP.SORT.ASC")),
                                            checked=(data && data.sort === "number_asc"),
                                            aria-checked=(data && data.sort === "number_asc"),
                                            onchange="document.forms.sortGames.submit();"
                                        )
                                        label.aw-sort__asc(
                                            for="sort_number_asc",
                                            title=(h.__("APP.SORT.ASC"))
                                        )
                                    .aw-sort__item
                                        input(
                                            type="radio",
                                            name="sort",
                                            value="number_desc",
                                            id="sort_number_desc",
                                            aria-label=(h.__("APP.SORT.DESC")),
                                            checked=(data && data.sort === "number_desc"),
                                            aria-checked=(data && data.sort === "number_desc"),
                                            onchange="document.forms.sortGames.submit();"
                                        )
                                        label.aw-sort__desc(
                                            for="sort_number_desc",
                                            title=(h.__("APP.SORT.DESC"))
                                        )

                            th= h.__("ADMIN.GAMES.HEAD.ACTIVE")

                            th= h.__("ADMIN.GAMES.HEAD.PLAYERS")

                            th.aw-sort__sortable
                                != h.__("ADMIN.GAMES.HEAD.TURN")
                                .aw-sort
                                    .aw-sort__item
                                        input(
                                            type="radio",
                                            name="sort",
                                            value="turn_asc",
                                            id="sort_turn_asc",
                                            aria-label=(h.__("APP.SORT.ASC")),
                                            checked=(data && data.sort === "turn_asc"),
                                            aria-checked=(data && data.sort === "turn_asc"),
                                            onchange="document.forms.sortGames.submit();"
                                        )
                                        label.aw-sort__asc(
                                            for="sort_turn_asc",
                                            title=(h.__("APP.SORT.ASC"))
                                        )
                                    .aw-sort__item
                                        input(
                                            type="radio",
                                            name="sort",
                                            value="turn_desc",
                                            id="sort_turn_desc",
                                            aria-label=(h.__("APP.SORT.DESC")),
                                            checked=(data && data.sort === "turn_desc"),
                                            aria-checked=(data && data.sort === "turn_desc"),
                                            onchange="document.forms.sortGames.submit();"
                                        )
                                        label.aw-sort__desc(
                                            for="sort_turn_desc",
                                            title=(h.__("APP.SORT.DESC"))
                                        )

                            th= h.__("ADMIN.GAMES.HEAD.DURATION")

                            th.aw-sort__sortable
                                != h.__("ADMIN.GAMES.HEAD.CREATED")
                                .aw-sort
                                    .aw-sort__item
                                        input(
                                            type="radio",
                                            name="sort",
                                            value="created_asc",
                                            id="sort_created_asc",
                                            aria-label=(h.__("APP.SORT.ASC")),
                                            checked=(data && data.sort === "created_asc"),
                                            aria-checked=(data && data.sort === "created_asc"),
                                            onchange="document.forms.sortGames.submit();"
                                        )
                                        label.aw-sort__asc(
                                            for="sort_created_asc",
                                            title=(h.__("APP.SORT.ASC"))
                                        )
                                    .aw-sort__item
                                        input(
                                            type="radio",
                                            name="sort",
                                            value="created_desc",
                                            id="sort_created_desc",
                                            aria-label=(h.__("APP.SORT.DESC")),
                                            checked=(data && data.sort === "created_desc"),
                                            aria-checked=(data && data.sort === "created_desc"),
                                            onchange="document.forms.sortGames.submit();"
                                        )
                                        label.aw-sort__desc(
                                            for="sort_created_desc",
                                            title=(h.__("APP.SORT.DESC"))
                                        )

                            th.aw-sort__sortable
                                != h.__("ADMIN.GAMES.HEAD.STARTED")
                                .aw-sort
                                    .aw-sort__item
                                        input(
                                            type="radio",
                                            name="sort",
                                            value="startDate_asc",
                                            id="sort_startDate_asc",
                                            aria-label=(h.__("APP.SORT.ASC")),
                                            checked=(data && data.sort === "startDate_asc"),
                                            aria-checked=(data && data.sort === "startDate_asc"),
                                            onchange="document.forms.sortGames.submit();"
                                        )
                                        label.aw-sort__asc(
                                            for="sort_startDate_asc",
                                            title=(h.__("APP.SORT.ASC"))
                                        )
                                    .aw-sort__item
                                        input(
                                            type="radio",
                                            name="sort",
                                            value="startDate_desc",
                                            id="sort_startDate_desc",
                                            aria-label=(h.__("APP.SORT.DESC")),
                                            checked=(data && data.sort === "startDate_desc"),
                                            aria-checked=(data && data.sort === "startDate_desc"),
                                            onchange="document.forms.sortGames.submit();"
                                        )
                                        label.aw-sort__desc(
                                            for="sort_startDate_desc",
                                            title=(h.__("APP.SORT.DESC"))
                                        )

                            th.aw-sort__sortable
                                != h.__("ADMIN.GAMES.HEAD.TURNDUE")
                                .aw-sort
                                    .aw-sort__item
                                        input(
                                            type="radio",
                                            name="sort",
                                            value="turnDue_asc",
                                            id="sort_turnDue_asc",
                                            aria-label=(h.__("APP.SORT.ASC")),
                                            checked=(data && data.sort === "turnDue_asc"),
                                            aria-checked=(data && data.sort === "turnDue_asc"),
                                            onchange="document.forms.sortGames.submit();"
                                        )
                                        label.aw-sort__asc(
                                            for="sort_turnDue_asc",
                                            title=(h.__("APP.SORT.ASC"))
                                        )
                                    .aw-sort__item
                                        input(
                                            type="radio",
                                            name="sort",
                                            value="turnDue_desc",
                                            id="sort_turnDue_desc",
                                            aria-label=(h.__("APP.SORT.DESC")),
                                            checked=(data && data.sort === "turnDue_desc"),
                                            aria-checked=(data && data.sort === "turnDue_desc"),
                                            onchange="document.forms.sortGames.submit();"
                                        )
                                        label.aw-sort__desc(
                                            for="sort_turnDue_desc",
                                            title=(h.__("APP.SORT.DESC"))
                                        )

                            th= h.__("ADMIN.GAMES.HEAD.PROCESSING")

                            th= h.__("ADMIN.GAMES.HEAD.SEEDED")

                            th= h.__("ADMIN.GAMES.HEAD.CANENLIST")

                    //- user data
                    tbody
                        each game in games
                            tr.admin-listtable__row

                                td
                                    a.aw-btn(href=`/admin/games/${game._id}/edit`)= "g" + game.number

                                td
                                    if game.active
                                        span.admin-listtable__status.admin-listtable__status--success(
                                            title=`${h.__("GAME.STATUS.Active", game.turn)}`
                                        )
                                            != h.icon("done")

                                td= game.players.length
                                    if game.maxPlayers
                                        != "/" + game.maxPlayers
                                    else
                                        | /0

                                td= game.turn

                                td= h.__("ADMIN.GAMES.BODY.DURATION", game.turnDuration)

                                td= h.moment(game.created).format("LLL")

                                td(class=(h.moment(game.startDate).diff(h.moment()) < 0 ? "admin-listtable__td-highlighted" : ""))
                                    != h.moment(game.startDate).format("LLL")

                                td= h.moment(game.turnDue).format("LLL")

                                td
                                    if game.processing
                                        span.admin-listtable__status.admin-listtable__status--warning(
                                            title=`${h.__("ADMIN.GAMES.BODY.PROCESSING")}`
                                        )
                                            != h.icon("warning")

                                td
                                    if game.stars && game.stars.length
                                        .admin-listtable__td-symbols
                                            span.admin-listtable__status.admin-listtable__status--stars(
                                                title=`${h.__("GAME.STATUS.Stars", game.stars.length)}`
                                            )
                                                != h.icon("starchart")
                                            span= game.stars.length
                                    if game.dimensions
                                        .admin-listtable__td-symbols
                                            span(
                                                title=(`${game.dimensions} x ${game.dimensions}`)
                                            )= `${game.dimensions} x ${game.dimensions}`

                                td
                                    if game.canEnlist
                                        span.admin-listtable__status.admin-listtable__status--success(
                                            title=`${h.__("GAME.STATUS.Enlistable")}`
                                        )
                                            != h.icon("galnet")
        h1 data
        pre= h.dump(data)

block scripts
    include ../webpack/admin.footer.pug
