extends ../layout

include ../mixins/_pagination

block head
    link(rel='stylesheet', href='/public/assets/styles.css')
    link(rel='stylesheet', href='/public/assets/admin.css')

block content
    main.aw-content__inner
        header.aw-content-head
            h1.aw-content-head__title= title
            nav.aw-content-head__breadcrumbs
                a.aw-content-head__breadcrumb(href="/")
                    != h.icon("home", ["home-icon"])
                a.aw-content-head__breadcrumb(href="/admin")= h.__("ADMIN.INDEX.TITLE_NAV")
                a.aw-content-head__breadcrumb(href="/admin/games")= h.__("ADMIN.GAMES.TITLE_NAV")
                if game && game.id
                    a.aw-content-head__breadcrumb(href=`/admin/games/${game.id}/edit`)= title
                else
                    a.aw-content-head__breadcrumb(href=`/admin/games/new`)= title


        form#gameForm.aw-form(method="POST", action=(game && game.id ? `/admin/games/${game.id}/edit` : `/admin/games/new`))

            if game && game.number
                .aw-grid__row.aw-grid__row--2col
                    .aw-grid__column= h.__("ADMIN.GAME.NUMBER")
                    .aw-grid__column.aw-grid__column--vcentered= "g" + game.number

            if game && game.created
                .aw-grid__row.aw-grid__row--2col
                    .aw-grid__column= h.__("ADMIN.GAME.CREATED")
                    .aw-grid__column.aw-grid__column--vcentered= h.moment(game.created).format("LLLL")

            .aw-form__row
                .aw-form-input
                    label.aw-form-input__label(for="active")= h.__("ADMIN.GAME.ACTIVELABEL")
                    .aw-form-input__input
                        .aw-checkbox
                            input(
                                type="checkbox",
                                name="active",
                                id="active",
                                value="true",
                                checked=(game && game.active),
                                aria-checked=(game && game.active)
                            )
                            label(for="active")
                .aw-form__row-description!= h.__("ADMIN.GAME.ACTIVEDESC")

            .aw-form__row
                .aw-form-input
                    label.aw-form-input__label(for="processing")= h.__("ADMIN.GAME.PROCESSINGLABEL")
                    .aw-form-input__input
                        .aw-checkbox
                            input(
                                type="checkbox",
                                name="processing",
                                id="processing",
                                value="true",
                                checked=(game && game.processing),
                                aria-checked=(game && game.processing)
                            )
                            label(for="processing")
                .aw-form__row-description!= h.__("ADMIN.GAME.PROCESSINGDESC")

            .aw-form__row
                .aw-form-input
                    label.aw-form-input__label(for="canEnlist")= h.__("ADMIN.GAME.CANENLIST")
                    .aw-form-input__input
                        .aw-checkbox
                            input(
                                type="checkbox",
                                name="canEnlist",
                                id="canEnlist",
                                value="true",
                                checked=(game && game.canEnlist),
                                aria-checked=(game && game.canEnlist)
                            )
                            label(for="canEnlist")

            if game && (game.players || game.maxPlayers)
                .aw-grid__row.aw-grid__row--2col
                    .aw-grid__column= h.__("ADMIN.GAME.ENLISTEDPLAYERS")
                    .aw-grid__column.aw-grid__column--vcentered= game.players && game.players.length ? game.players.length : 0
                        if game.maxPlayers
                            != "/" + game.maxPlayers
                        else
                            | /0

            if game && game.stars && game.stars.length
                .aw-grid__row.aw-grid__row--2col
                    .aw-grid__column= h.__("ADMIN.GAME.STARS")
                    .aw-grid__column.aw-grid__column--vcentered= game.stars.length

            if game && game.dimensions
                .aw-grid__row.aw-grid__row--2col
                    .aw-grid__column= h.__("ADMIN.GAME.DIMENSIONS")
                    .aw-grid__column.aw-grid__column--vcentered= game.dimensions + " x " + game.dimensions

            .aw-form__row
                .aw-form-input
                    label.aw-narrowform-input__label(for="startDateInput")= h.__("ADMIN.GAME.STARTDATE")
                    input.aw-narrowform-input__input.admin-datetimepicker(
                        type="text",
                        name="startDateInput",
                        id="startDateInput",
                        value=(
                            game && game.startDate ? h.moment(game.startDate).toISOString() : h.moment().add(1, "weeks").toISOString()
                        )
                    )
                    input(
                        type="hidden",
                        name="startDate",
                        id="startDate",
                        value=(
                            game && game.startDate ? h.moment(game.startDate).toISOString() : h.moment().add(1, "weeks").toISOString()
                        )
                    )

            .aw-form__row
                .aw-form-input
                    label.aw-narrowform-input__label(for="turnDuration")= h.__("ADMIN.GAME.TURNDURATION")
                    input.aw-narrowform-input__input(
                        type="number",
                        name="turnDuration",
                        id="turnDuration",
                        value=(game && game.turnDuration ? game.turnDuration : cfg.games.defaultTurnDuration)
                    )

            .aw-form__row
                .aw-form__submit
                    button.aw-btn.aw-btn--icon(type="submit")
                        != h.icon("save", ["small"])
                        != h.__("ADMIN.GAME.SUBMIT")

            if game && game.id

                if !game.stars || game.stars.length === 0
                    .aw-form__row
                        .aw-form__submit
                            a.aw-btn.aw-btn--icon(href=`/admin/games/${game.id}/seed`)
                                != h.icon("starchart", ["small"])
                                != h.__("ADMIN.GAME.SEED.LINK")

                .aw-form__row
                    .aw-form__submit
                        a.aw-btn.aw-btn--icon(
                            href=`/admin/games/${game.id}/delete`,
                            onclick="if (!window.confirm(\"" + h.__("ADMIN.GAME.DELETECONFIRM", game.number) + "\")) return false;"
                        )
                            != h.icon("delete", ["small"])
                            != h.__("ADMIN.GAME.DELETE")
                        .aw-form__row-description!= h.__("ADMIN.GAME.DELETEDESC")

block scripts
    include ../webpack/admin.footer.pug
