extends ../layout

include ../mixins/_pagination

block head
    link(rel='stylesheet', href='/public/assets/styles.css')
    link(rel='stylesheet', href='/public/assets/admin.css')

block content
    main.aw-content__inner
        header.aw-content-head
            h1.aw-content-head__title= title
            nav.aw-content-head__breadcrumbs
                a.aw-content-head__breadcrumb(href="/")
                    != h.icon("home", ["home-icon"])
                a.aw-content-head__breadcrumb(href="/admin")= h.__("ADMIN.INDEX.TITLE_NAV")
                a.aw-content-head__breadcrumb(href="/admin/users")= h.__("ADMIN.USERS.TITLE_NAV")
                a.aw-content-head__breadcrumb(href=`/admin/users/${editUser.id}`)= title

        //- summary
        .aw-grid
            .aw-grid__headline= "@" + editUser.username

            //- email confirmation status
            .aw-grid__row.aw-grid__row--2col
                .aw-grid__column
                .aw-grid__column.aw-grid__column--vcentered
                    if editUser.emailConfirmed
                        span.admin-userlist__status.admin-userlist__status--success(
                        title=`${h.__("ADMIN.USERS.ALL.BODY.CONFIRMED")}`
                        )
                            != h.icon("done")
                        span= " " + h.__("ADMIN.USERS.ALL.BODY.CONFIRMED")
                    else
                        span.admin-userlist__status.admin-userlist__status--warning(
                        title=`${h.__("ADMIN.USERS.ALL.BODY.NOTCONFIRMED")}`
                        )
                            != h.icon("warning")
                        span= " " + h.__("ADMIN.USERS.ALL.BODY.NOTCONFIRMED")
            if editUser.emailConfirmationToken
                .aw-grid__row.aw-grid__row--2col
                    .aw-grid__column= h.__("ADMIN.USER.EMAILCONFIRMED.TOKEN")
                    .aw-grid__column.aw-grid__column--vcentered= editUser.emailConfirmationToken
            if editUser.emailConfirmationExpires
                .aw-grid__row.aw-grid__row--2col
                    .aw-grid__column= h.__("ADMIN.USER.EMAILCONFIRMED.EXPIRES")
                    .aw-grid__column.aw-grid__column--vcentered
                        != h.moment(editUser.emailConfirmationExpires).format("LLLL")
                        br
                        != `(${h.moment(editUser.emailConfirmationExpires).fromNow()})`
            if !editUser.emailConfirmed
                .aw-form__row
                    form(action=`/admin/users/${editUser.id}/email/resend`, method="POST")
                        .aw-form__submit.aw-btn-group
                            button.aw-btn.aw-btn--icon(type="submit")
                                != h.icon("key", ["small"])
                                != h.__("ADMIN.USER.EMAILCONFIRMED.RESEND")
                            a.aw-btn.aw-btn--icon(href=`/admin/users/${editUser.id}/email/confirm`)
                                != h.icon("done", ["small"])
                                != h.__("ADMIN.USER.EMAILCONFIRMED.CONFIRM")

            //- user suspended / suspend user
            .aw-grid__row.aw-grid__row--2col
                .aw-grid__column
                .aw-grid__column.aw-grid__column--vcentered
                    if editUser.suspended && editUser.suspendedUntil && h.moment(editUser.suspendedUntil).diff(h.moment()) > 0
                        span.admin-userlist__status.admin-userlist__status--error(
                            title=`${h.__("ADMIN.USERS.ALL.BODY.SUSPENDED")}`
                        )
                            != h.icon("lock")
                        span
                            != " "
                            != h.__("ADMIN.USER.SUSPEND.STATUS.Suspended", h.moment(editUser.suspendedUntil).format("LLL"))
                            != " (" + h.moment(editUser.suspendedUntil).fromNow() + ")"
                    else
                        span!= h.__("ADMIN.USER.SUSPEND.STATUS.NotSuspended", editUser.username)
            form(action=`/admin/users/${editUser.id}/suspend`, method="POST")
                .aw-form__row
                    .aw-form-input
                        label.aw-form-input__label(for="email")= h.__("ADMIN.USER.SUSPEND.LABEL")
                        select.aw-form-input__input(name="duration")
                            option(value="")= h.__("ADMIN.USER.SUSPEND.PERIOD.CHOOSE")
                            option(value="1_days")= h.__("ADMIN.USER.SUSPEND.PERIOD.1DAY")
                            option(value="1_weeks")= h.__("ADMIN.USER.SUSPEND.PERIOD.1WEEK")
                            option(value="1_months")= h.__("ADMIN.USER.SUSPEND.PERIOD.1MONTH")
                            option(value="1_years")= h.__("ADMIN.USER.SUSPEND.PERIOD.1YEAR")
                            option(value="99_years")= h.__("ADMIN.USER.SUSPEND.PERIOD.FOREVER")
                .aw-form__row
                    .aw-form__submit.aw-btn-group
                        button.aw-btn.aw-btn--icon(type="submit")
                            != h.icon("warning", ["small"])
                            != h.__("ADMIN.USER.SUSPEND.SUBMIT")
                        a.aw-btn.aw-btn--icon(href=`/admin/users/${editUser.id}/suspend/clear`)
                            != h.icon("cancel", ["small"])
                            != h.__("ADMIN.USER.SUSPEND.CLEAR")

            //- send reset password email
            form(action=`/admin/users/${editUser.id}/password`, method="POST")
                br
                if editUser.resetPasswordToken && editUser.resetPasswordExpires
                    .aw-grid__row.aw-grid__row--2col
                        .aw-grid__column= h.__("ADMIN.USER.PASSWORD.TOKEN")
                        .aw-grid__column= editUser.resetPasswordToken
                    .aw-grid__row.aw-grid__row--2col
                        .aw-grid__column= h.__("ADMIN.USER.PASSWORD.EXPIRES")
                        .aw-grid__column
                            != h.moment(editUser.resetPasswordExpires).format("LLLL")
                            br
                            != `(${h.moment(editUser.resetPasswordExpires).fromNow()})`
                .aw-form__row
                    .aw-form__submit
                        button.aw-btn.aw-btn--icon(type="submit")
                            != h.icon("key", ["small"])
                            != h.__("ADMIN.USER.PASSWORD.SUBMIT")

            //- active games
            if editUser.players && editUser.players.length
                .aw-grid__row.aw-grid__row--2col
                    .aw-grid__column= h.__("ADMIN.USER.ACTIVEGAMES")
                    .aw-grid__column
                        each player, index in editUser.players
                            a.aw-textlink(href=`/admin/games/${player.game.number}`)= "g" + player.game.number
                            if index !== editUser.players.length - 1
                                | ,&nbsp;


        //- change username form
        form.aw-form(action=`/admin/users/${editUser.id}/username`, method="POST")
            .aw-grid__headline= h.__("ADMIN.USER.CHANGE.USERNAME")
            .aw-form__row
                .aw-form-input
                    label.aw-form-input__label(for="username")= h.__("APP.REGISTER.USERNAME_LABEL")
                    input.aw-form-input__input(
                        type="text",
                        name="username",
                        id="username",
                        placeholder=h.__("APP.REGISTER.USERNAME_PLACEHOLDER"),
                        required,
                        aria-required="true",
                        value=(editUser.username)
                    )
            .aw-form__row
                .aw-form__submit
                    button.aw-btn.aw-btn--icon(type="submit")
                        != h.icon("save", ["small"])
                        != h.__("ADMIN.USER.CHANGE.USERNAME")


        //- change email address form
        form.aw-form(action=`/admin/users/${editUser.id}/email`, method="POST")
            .aw-grid__headline= h.__("ADMIN.USER.CHANGE.EMAIL")
            .aw-form__row
                .aw-form-input
                    label.aw-form-input__label(for="email")= h.__("APP.REGISTER.EMAIL_LABEL")
                    input.aw-form-input__input(
                        type="email",
                        name="email",
                        id="email",
                        placeholder=h.__("APP.REGISTER.EMAIL_PLACEHOLDER"),
                        required,
                        aria-required="true",
                        value=(editUser.email)
                    )
            .aw-form__row
                .aw-form__submit
                    button.aw-btn.aw-btn--icon(type="submit")
                        != h.icon("save", ["small"])
                        != h.__("ADMIN.USER.CHANGE.EMAIL")


        //- Change Avatar form
        form.aw-form(action=`/admin/users/${editUser.id}/avatar/reset`, method="POST")
            .aw-grid__headline= h.__("ADMIN.USER.CHANGE.AVATARHDL")
            input(type="hidden" name="currAvatarUrl" value=(editUser.avatar))
            .aw-change-avatar
                .aw-change-avatar__current
                    != h.getAvatar(editUser.avatar, "large")
                .aw-change-avatar__action
                    span
                        button.aw-change-avatar__btn(type="submit")
                            != h.icon("cancel", ["small"])
                            != h.__("ADMIN.USER.CHANGE.AVATAR")


block scripts
    include ../webpack/admin.footer.pug
