doctype html
html(lang="de")
    head
        meta(charset="utf-8")
        title= `${title} | ${h.appName}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //- head block for seperate stylesheets (admin)
        block head
            link(rel='stylesheet', href='/public/assets/styles.css')
body
    != h.spritesheet()

    header.aw-header

        .aw-header__menu
            button.aw-header__menu-btn(aria-label=(h.__("APP.HEADER.LABEL_MAINMENU")))
                span
                span
                span

        .aw-header__title
            a.aw-header__title-link(href="/")
                != h.image("logo.svg")
                span= h.appName

        ul.aw-header__actions

            //- admin link
            if user && user.admin
                li.aw-header__action
                    a.aw-header__link(href="/admin")
                        != h.icon("key")
                        span= h.__("APP.HEADER.LABEL_ADMIN")

            //- languages
            li.aw-header__action
                a.aw-header__link.aw-header__submenu-trigger(href="", aria-label=(h.__("APP.HEADER.LABEL_CHANGELANGUAGE")))
                    != h.icon("language")
                    span.keep #{session && session.locale ? session.locale : ""}
                ul.aw-header__submenu.aw-header__submenu--left.aw-header__submenu--medium(aria-hidden="true")
                    li.aw-header__submenu-item
                        a.aw-header__submenu-item-link(href="/language/en", class=(session && session.locale && session.locale == "en" ? "aw-header__submenu-item-link--active" : ""))
                            != h.image("flags/en.svg")
                            | English
                    li.aw-header__submenu-item
                        a.aw-header__submenu-item-link(href="/language/de", class=(session && session.locale && session.locale == "de" ? "aw-header__submenu-item-link--active" : ""))
                            != h.image("flags/de.svg")
                            | Deutsch

            //- games
            li.aw-header__action
                a.aw-header__link.aw-header__submenu-trigger(href="", aria-label=(h.__("APP.HEADER.LABEL_CHANGEGAME")))
                    != h.icon("games")
                    span.keep g1
                ul.aw-header__submenu.aw-header__submenu--left(aria-hidden="true")
                    li.aw-header__submenu-item
                        a.aw-header__submenu-item-link.aw-header__submenu-item-link--active(href="/game/1", data-gameid="2") g1 (Alpha)
                    li.aw-header__submenu-item
                        a.aw-header__submenu-item-link(href="/game/2", data-gameid="2") g2 (Beta)

            //- links for guests: login, register
            if !user
                li.aw-header__action
                    a.aw-header__link(href="/auth/login")
                        != h.icon("key")
                        span= h.__("APP.HEADER.LABEL_LOGIN")
                li.aw-header__action
                    a.aw-header__link(href="/auth/register")
                        != h.icon("lightbulb")
                        span= h.__("APP.HEADER.LABEL_REGISTER")

            //- links for users: profile, logout
            if user
                li.aw-header__action
                    a.aw-header__link.aw-header__submenu-trigger.aw-header__link--circle(href="/dashboard")
                        img.aw-header__avatar(src="/public/assets/images/user-anon.svg")
                    ul.aw-header__submenu.aw-header__submenu--right.aw-header__submenu--medium(aria-hidden="true")
                        li.aw-header__submenu-item
                            a.aw-header__submenu-item-link(href="/dashboard")= h.__("APP.HEADER.LABEL_HOME")
                li.aw-header__action
                    a.aw-header__link(href="/auth/logout")
                        != h.icon("power")
                        span= h.__("APP.HEADER.LABEL_LOGOUT")

        //- turn data for mobile
        .aw-header__turn
            .aw-turn
                != h.icon("turn", ["turn"])
                .aw-turn__value 125
            .aw-header__server-time
                time(datetime=(h.moment().toISOString()), data-server-time)= h.moment().format("LLL")
            .aw-header__turn-next-progress
                .aw-progress.aw-progress-turn(data-max="15", data-value="14")
                    != h.progressbar(15, 14)
            .aw-header__turn-next-time
                time(datetime="2017-07-10T19:45:05.133Z", data-time-next-turn) 00:00


    .aw-main-wrapper

        //- game drawer
        section.aw-drawer(aria-hidden="true")

            ul.aw-drawer__list

                //- time data
                li.aw-drawer__list-item.aw-drawer__list-item--info
                    .aw-drawer__info
                        .aw-drawer__info-label= h.__("APP.HEADER.LABEL_SERVERTIME")
                        .aw-drawer__info-value
                            time(datetime=(h.moment().toISOString()), data-server-time)= h.moment().format("LLL")
                    .aw-drawer__info.aw-drawer__info--darker
                        .aw-drawer__info-label= h.__("APP.HEADER.LABEL_LOCALTIME")
                        .aw-drawer__info-value
                            time(datetime="", data-my-time) 00:00

                //- turn data
                li.aw-drawer__list-item.aw-drawer__list-item--turn
                    .aw-drawer__turn
                        .aw-drawer__turn-current
                            .aw-drawer__turn-current-label= h.__("GAME.LABEL_CURRENTTURN")
                            .aw-turn
                                != h.icon("turn", ["turn"])
                                .aw-turn__value 21
                        .aw-drawer__turn-next
                            .aw-drawer__turn-next-label= h.__("GAME.LABEL_NEXTTURN")
                            .aw-drawer__turn-next-progress
                                .aw-progress.aw-progress-turn(data-max="15", data-value="14")
                                    != h.progressbar(15,14)
                            .aw-drawer__turn-next-time
                                time(datetime="2017-07-10T19:45:05.133Z", data-time-next-turn) 00:00

                //- game links
                li.aw-drawer__list-item
                    a.aw-drawer__link.aw-drawer__link--active(href="/game/1/empire")
                        != h.icon("empire", ["small"])
                        != h.__("GAME.EMPIRE.LABEL")
                li.aw-drawer__list-item
                    a.aw-drawer__link(href="/game/1/fleets")
                        != h.icon("fleet", ["small"])
                        != h.__("GAME.FLEETS.LABEL")
                li.aw-drawer__list-item
                    a.aw-drawer__link(href="/game/1/shipyards")
                        != h.icon("build", ["small"])
                        != h.__("GAME.SHIPYARDS.LABEL")
                li.aw-drawer__list-item
                    a.aw-drawer__link(href="/game/1/research")
                        != h.icon("research", ["small"])
                        != h.__("GAME.RESEARCH.LABEL")
                li.aw-drawer__list-item
                    a.aw-drawer__link(href="/game/1/starchart")
                        != h.icon("starchart", ["small"])
                        != h.__("GAME.STARCHART.LABEL")
                li.aw-drawer__list-item
                    a.aw-drawer__link(href="/game/1/galnet")
                        != h.icon("galnet", ["small"])
                        != h.__("GAME.GALNET.LABEL")

                li.aw-drawer__list-item.aw-drawer__list-item--spacer
                li.aw-drawer__list-item
                    a.aw-drawer__link(href="/help/") Help

        section#content.aw-content

            //- flash messages first.
            block messages
                if locals.flashes
                    - const categories = Object.keys(locals.flashes)
                    each category in categories
                        each message in flashes[category]
                            .aw-flash
                                .aw-flash__message(class=`aw-flash__message--${category}`)
                                    p.aw-flash__text
                                        != message
                                    button.aw-btn.aw-btn--close.aw-flash__remove &times;

            //- main content block that is defined in the templates that extend this layout template.
            block content

            //- tmp dump data
            if session
                h3 Session Data
                pre= h.dump(session)
            if user
                h3 User Data
                pre= h.dump(user)

            //- v.short footer
            footer.aw-footer
                address.aw-footer__meta
                    | handcrafted with
                    span ❤
                    | by Sven Scharfenberg
                ul.aw-footer__list
                    li.aw-footer__list-item
                        a.aw-footer__link(href="/privacy-policy") Privacy Policy
                    li.aw-footer__list-item
                        a.aw-footer__link(href="/imprint") Imprint
                    li.aw-footer__list-item
                        a#footerJumpTop.aw-footer__link.aw-footer__link--icon(href="#main")
                            != h.icon("arrow_up")

    //- scripts block, can be overridden in templates.
    block scripts
        include webpack/app.footer.pug
