//- mixin for pagination.
    @param {int} page - the current page
    @param {int] pages - the maximum number of pages for this result set
    @param {int} count - the number of results in this result set
    @param {string} urlPart - the first part of the url, everything before the page number without trailing slash

mixin pagination(page, pages, count, urlPart)
    - let numShowPages = pages
    - let startAt = parseInt(page, 10) - 1
    - let endAt = pages


    if pages > 2
        - numShowPages = 3
    if pages > 4
        - numShowPages = 5
        - startAt = parseInt(page, 10) - 2
    if pages > 6
        - numShowPages = 9
        - startAt = parseInt(page, 10) - 4
    if page === 1 || pages - page < numShowPages
        - startAt = 1

    if pages !== 1

        nav.aw-pagination

            aside.aw-pagination__aside Page #{page} of #{pages} — #{count} total results, show #{numShowPages} pages

            //- first page
            if pages > 2
                if page === 1
                    span.aw-pagination__item.aw-pagination__item--prev.aw-pagination__item--disabled= h.__("APP.PAGINATION.FIRST")
                else
                    a.aw-pagination__item.aw-pagination__item--prev(href=`${urlPart}/1`)= h.__("APP.PAGINATION.FIRST")

            //- previous page
            if page === 1
                span.aw-pagination__item.aw-pagination__item--prev.aw-pagination__item--disabled= h.__("APP.PAGINATION.PREV")
            else
                a.aw-pagination__item.aw-pagination__item--prev(href=`${urlPart}/${page - 1}`)= h.__("APP.PAGINATION.PREV")


            - let i = 0;
            - for (let counter = startAt; counter <= endAt; counter++)
                - i++;
                if i > numShowPages
                    - break
                if counter === page
                    span.aw-pagination__item.aw-pagination__item--active= counter
                else
                    a.aw-pagination__item(href=`${urlPart}/${counter}`)= counter


            //- next page
            if page === pages
                span.aw-pagination__item.aw-pagination__item--next.aw-pagination__item--disabled= h.__("APP.PAGINATION.NEXT")
            else
                a.aw-pagination__item.aw-pagination__item--next(href=`${urlPart}/${page + 1}`)= h.__("APP.PAGINATION.NEXT")

            //- last page
            if pages > 4
                if page === pages
                    span.aw-pagination__item.aw-pagination__item--next.aw-pagination__item--disabled= h.__("APP.PAGINATION.LAST")
                else
                    a.aw-pagination__item.aw-pagination__item--next(href=`${urlPart}/${pages}`)= h.__("APP.PAGINATION.LAST")
