extends ../layout

block content
    main.aw-content__inner.aw-content__inner--narrow

        h1= h.__("PAGE_RESEND_TITLE")

        form.aw-narrowform(action="/auth/resend" method="POST")

            .aw-narrowform__row= h.__("PAGE_RESEND_INTRO")

            .aw-narrowform__row(class=`${errors ? "error" : ""}`)
                .aw-narrowform-input
                    label.aw-narrowform-input__label(for="email")= h.__("PAGE_LOGIN_EMAIL_LABEL")
                    input.aw-narrowform-input__input(type="email", name="email", id="email", placeholder=(h.__("PAGE_LOGIN_EMAIL_PLACEHOLDER")), required, aria-required="true", value=(data && data.email))
                if errors
                    .aw-narrowform__error-message= errors
                .aw-narrowform__row-description= h.__("PAGE_LOGIN_EMAIL_LABEL")

            .aw-narrowform__row
                .aw-narrowform__submit
                    button.aw-btn.aw-btn--icon(type="submit")
                        != h.icon("key", ["small"])
                        != h.__("PAGE_RESEND_SUBMIT")
