extends ../layout

block content

    main.aw-content__inner
        header.aw-content-head
            h1.aw-content-head__title= h.__("APP.DASHBOARD.TITLE")
            nav.aw-content-head__breadcrumbs
                a.aw-content-head__breadcrumb(href="/")
                    != h.icon("home", ["home-icon"])
                a.aw-content-head__breadcrumb(href="/dashboard")= h.__("APP.DASHBOARD.TITLE")

        p= h.__("APP.DASHBOARD.INTRO")

        .aw-grid
            .aw-grid__headline= h.__("APP.DASHBOARD.USER_HDL")
            .aw-grid__row.aw-grid__row--2col
                .aw-grid__column Benutzername
                .aw-grid__column= "@" + user.username
            .aw-grid__row.aw-grid__row--2col
                .aw-grid__column Registriert am
                .aw-grid__column= registered

        form.aw-form(action="/dashboard/password" method="POST")

            .aw-form__row-description
                .aw-form__row-headline= h.__("APP.DASHBOARD.PWD_HDL")

            .aw-form__row(class=`${errors && errors.password ? "error" : ""}`)
                .aw-form-input
                    label.aw-form-input__label(for="password")= h.__("APP.DASHBOARD.PWD_LABEL")
                    input.aw-form-input__input(type="password", name="password", id="password", placeholder=(h.__("APP.DASHBOARD.PWD_PLACEHOLDER")), required, aria-required="true", value=(data && data.password))
                if errors && errors.password
                    .aw-form__error-message= errors.password.msg
                .aw-form__row-description!= h.__("APP.DASHBOARD.PWD_DESCRIPTION")

            .aw-form__row
                .aw-form__submit
                    button.aw-btn.aw-btn--icon(type="submit")
                        != h.icon("save", ["small"])
                        != h.__("APP.DASHBOARD.CHANGE_PWD_SUBMIT")

        form.aw-form(action="/dashboard/avatar" method="POST")

            .aw-form__row-description
                .aw-form__row-headline= h.__("APP.DASHBOARD.AVATAR_HDL")

            .aw-change-avatar(class=`${errors && errors.avatar ? "error" : ""}`)
                .aw-change-avatar__current
                    img.aw-show-avatar.aw-show-avatar--big(src="/public/assets/images/user-anon.svg")
                .aw-change-avatar__action
                    label.aw-change-avatar__upload-label(for="avatar")
                        != h.icon("folder_open", ["small"])
                        span(data-label=(h.__("APP.DASHBOARD.AVATAR_LABEL")))= h.__("APP.DASHBOARD.AVATAR_LABEL")
                        input.aw-change-avatar__upload-input(type="file", name="avatar", id="avatar")
                    .aw-change-avatar__remove-current
                        != h.icon("delete", ["small"])
                        != h.__("APP.DASHBOARD.AVATAR_REMOVE")
                if errors && errors.avatar
                    .aw-form__error-message= errors.avatar.msg

            .aw-form__row
                .aw-form__submit
                    button.aw-btn.aw-btn--icon(type="submit")
                        != h.icon("save", ["small"])
                        != h.__("APP.DASHBOARD.CHANGE_AVATAR_SUBMIT")
