extends ../layout

block content

    main.aw-content__inner
        header.aw-content-head
            h1.aw-content-head__title= h.__("APP.DASHBOARD.TITLE")
            nav.aw-content-head__breadcrumbs
                a.aw-content-head__breadcrumb(href="/")
                    != h.icon("home", ["home-icon"])
                a.aw-content-head__breadcrumb(href="/dashboard")= h.__("APP.DASHBOARD.TITLE")


        p= h.__("APP.DASHBOARD.INTRO")


        //- available games where the user can enlist
        if available && available.length
            each game in available
                .aw-grid
                    .aw-grid__headline= h.__("APP.DASHBOARD.GAMES.AVAILABLE.HDL")
                    .aw-grid__row.aw-grid__row--2col
                        .aw-grid__column= h.__("APP.DASHBOARD.GAMES.AVAILABLE.NAME")
                        .aw-grid__column= "g" + game.number
                    .aw-grid__row.aw-grid__row--2col
                        .aw-grid__column= h.__("APP.DASHBOARD.GAMES.AVAILABLE.TURNDURATION")
                        .aw-grid__column= h.__("APP.DASHBOARD.GAMES.AVAILABLE.DURATION_VALUE", game.turnDuration)
                    if game.startDate
                        .aw-grid__row.aw-grid__row--2col
                            .aw-grid__column= h.__("APP.DASHBOARD.GAMES.AVAILABLE.START")
                            .aw-grid__column= h.moment(game.startDate).format("LLLL")
                    if game.maxPlayers
                        .aw-grid__row.aw-grid__row--2col
                            .aw-grid__column= h.__("APP.DASHBOARD.GAMES.AVAILABLE.PLAYERS")
                            if game.players && game.players.length
                                .aw-grid__column= `${game.players.length}/${game.maxPlayers}`
                            else
                                .aw-grid__column= `0/${game.maxPlayers}`
                    .aw-grid__row= h.__("APP.DASHBOARD.GAMES.AVAILABLE.INTRO")
                    if game.players && game.maxPlayers > game.players.length
                        .aw-grid__row
                            a.aw-btn.aw-btn--icon(href=`/game/${game.number}/enlist`)
                                != h.icon("games", ["small"])
                                != h.__("APP.DASHBOARD.GAMES.AVAILABLE.ENLIST")


        //- my games (games where i have a player)
        if user.players && user.players.length && myPlayers
            .aw-grid
                .aw-grid__headline= h.__("APP.DASHBOARD.GAMES.MY.HDL")
                each player in myPlayers

                    //- game is not active and startDate in the future
                    if !player.game.active || h.moment(player.game.startDate).diff(h.moment()) > 0
                        .aw-grid__row.aw-grid__row--2col.aw-grid__row--seperated
                            .aw-grid__column
                                strong= "g" + player.game.number
                                br
                                strong= `[${player.ticker}] `
                                != player.name
                                br
                                != h.__("APP.DASHBOARD.GAMES.MY.TURNDURATION") + " " + h.__("APP.DASHBOARD.GAMES.MY.DURATION_VALUE", player.game.turnDuration)
                                br
                                != h.__("APP.DASHBOARD.GAMES.MY.PLAYERS") + `: ${player.game.numPlayers}/${player.game.maxPlayers ? player.game.maxPlayers : 0}`
                            .aw-grid__column
                                != h.__("GAME.STATUS.Enlisted", h.moment(player.game.startDate).format("LLLL"))
                                br
                                .aw-btn-group
                                    a.aw-btn.aw-btn--icon(href=`/game/${player.game.number}/withdraw`)
                                        != h.icon("delete", ["small"])
                                        != h.__("APP.DASHBOARD.GAMES.MY.WITHDRAW")
                                    if player.game.active
                                        a.aw-btn.aw-btn--icon(href=`/game/${player.game.number}/select`)
                                            != h.icon("games", ["small"])
                                            != h.__("APP.DASHBOARD.GAMES.MY.GOTO")

                    //- game is active and startDate is in the past.
                    else if player.game.active && h.moment(player.game.startDate).diff(h.moment()) < 0
                        .aw-grid__row.aw-grid__row--2col.aw-grid__row--seperated
                            .aw-grid__column
                                strong= "g" + player.game.number
                                br
                                strong= `[${player.ticker}] `
                                != player.name
                                br
                                != h.__("APP.DASHBOARD.GAMES.MY.TURNDURATION") + " " + h.__("APP.DASHBOARD.GAMES.MY.DURATION_VALUE", player.game.turnDuration)
                                br
                                != h.__("APP.DASHBOARD.GAMES.MY.PLAYERS") + `: ${player.game.numPlayers}/${player.game.maxPlayers ? player.game.maxPlayers : 0}`
                            .aw-grid__column
                                != h.__("GAME.STATUS.Active", player.game.turn)
                                br
                                .aw-btn-group
                                    a.aw-btn.aw-btn--icon(href=`/game/${player.game.number}/select`)
                                        != h.icon("games", ["small"])
                                        != h.__("APP.DASHBOARD.GAMES.MY.GOTO")

                    //- game is not active
                    else if !player.game.active
                        .aw-grid__row.aw-grid__row--2col.aw-grid__row--seperated
                            .aw-grid__column
                                strong= "g" + player.game.number
                                br
                                strong= `[${player.ticker}] `
                                != player.name
                            .aw-grid__column
                                != h.__("GAME.STATUS.Finished")
                                br
                                != h.__("GAME.STATUS.FinishedTurn", player.game.turn)


        //- Generic user information and delete account button
        form.aw-form(
            action="/dashboard/delete",
            method="POST"
        )
            .aw-grid__headline= h.__("APP.DASHBOARD.INFOBOX.HDL")
            .aw-grid__row.aw-grid__row--2col
                .aw-grid__column= h.__("APP.DASHBOARD.INFOBOX.USERNAME")
                .aw-grid__column= "@" + user.username
            .aw-grid__row.aw-grid__row--2col
                .aw-grid__column= h.__("APP.DASHBOARD.INFOBOX.REGISTERED")
                .aw-grid__column= registered
            .aw-form__row
                .aw-form__submit
                    //- this is embarassignly simple. TODO: use some sort of modal.
                    button.aw-btn.aw-btn--icon(
                        type="submit",
                        onclick="if (!window.confirm(\"" + h.__("APP.DASHBOARD.INFOBOX.DELETE.CONFIRM") + "\")) return false;"
                    )
                        != h.icon("delete", ["small"])
                        != h.__("APP.DASHBOARD.INFOBOX.DELETE.SUBMIT")
                    .aw-form__row-description!= h.__("APP.DASHBOARD.INFOBOX.DELETE.EXPLANATION")


        //- Change Avatar form
        form.aw-form(
            action="/dashboard/avatar",
            method="POST",
            enctype="multipart/form-data"
        )
            .aw-form__row-description
                .aw-form__row-headline= h.__("APP.DASHBOARD.AVATAR.HDL")
            .aw-change-avatar(class=`${errors && errors.avatar ? "error" : ""}`)
                .aw-change-avatar__current
                    != h.getAvatar(user.avatar, "large")
                .aw-change-avatar__action
                    label.aw-change-avatar__upload-label(for="avatar")
                        != h.icon("folder_open", ["small"])
                        span(data-label=(h.__("APP.DASHBOARD.AVATAR.LABEL")))= h.__("APP.DASHBOARD.AVATAR.LABEL")
                        input.aw-change-avatar__upload-input(
                            type="file",
                            name="avatar",
                            id="avatar"
                        )
                    span
                        button.aw-change-avatar__btn(type="submit")
                            != h.icon("save", ["small"])
                            != h.__("APP.DASHBOARD.AVATAR.SUBMIT")
                        a.aw-change-avatar__btn(href="/dashboard/avatar/delete")
                            != h.icon("delete", ["small"])
                            != h.__("APP.DASHBOARD.AVATAR.REMOVE")
            .aw-change-avatar__description!= h.__("APP.DASHBOARD.AVATAR.DESCRIPTION")


        //- Change E-Mail address
        form.aw-form(action="/dashboard/email", method="POST")
            .aw-form__row-description
                .aw-form__row-headline= h.__("APP.DASHBOARD.EMAIL.HDL")
            .aw-form__row
                .aw-form-input
                    label.aw-form-input__label(for="email")= h.__("APP.DASHBOARD.EMAIL.LABEL")
                    input.aw-form-input__input(
                        type="email",
                        name="email",
                        id="email",
                        placeholder=(h.__("APP.DASHBOARD.EMAIL.PLACEHOLDER")),
                        value=(data && data.email ? data.email : email),
                        required,
                        aria-required="true"
                    )
                .aw-form__row-description!= h.__("APP.DASHBOARD.EMAIL.DESCRIPTION")
            .aw-form__row
                .aw-form__submit
                    button.aw-btn.aw-btn--icon(type="submit")
                        != h.icon("save", ["small"])
                        != h.__("APP.DASHBOARD.EMAIL.SUBMIT")


        //- Change Password form
        form.aw-form(action="/dashboard/password", method="POST")
            .aw-form__row-description
                .aw-form__row-headline= h.__("APP.DASHBOARD.PWD.HDL")
            .aw-form__row(class=`${errors && errors.password ? "error" : ""}`)
                .aw-form-input
                    label.aw-form-input__label(for="password")= h.__("APP.DASHBOARD.PWD.LABEL")
                    input.aw-form-input__input(
                        type="password",
                        name="password",
                        id="password",
                        placeholder=(h.__("APP.DASHBOARD.PWD.PLACEHOLDER")),
                        required,
                        aria-required="true",
                        value=(data && data.password)
                    )
                .aw-form__row-description!= h.__("APP.DASHBOARD.PWD.DESCRIPTION")
            .aw-form__row
                .aw-form__submit
                    button.aw-btn.aw-btn--icon(type="submit")
                        != h.icon("save", ["small"])
                        != h.__("APP.DASHBOARD.PWD.SUBMIT")


