extends ../layout

block head
    link(rel='stylesheet', href='/public/assets/styles.css')
    include ../webpack/research.header.pug


block content

    main.aw-content__inner
        div#gameData(
            data-textversion=(textVersion),
            data-playerid=(user.selectedPlayer._id),
            data-gameid=(user.selectedPlayer.game._id),
            data-locale=(session.locale),
            data-area="research",
            data-initial=(gameData)
        )
            div#gameRoot

block scripts
    include ../webpack/research.footer.pug
