extends ../layout

block head
    link(
        rel="stylesheet",
        href=(h.hashedAsset("shipyards.css"))
    )


block content

    main.aw-content__inner
        div#gameData(
            data-textversion=(textVersion),
            data-playerid=(user.selectedPlayer._id),
            data-gameid=(user.selectedPlayer.game._id),
            data-locale=(session.locale),
            data-area="shipyards",
            data-initial=(gameData)
        )
            div#gameRoot

block scripts
    script(
        src=(h.hashedAsset("shipyards.js")),
        defer,
        nonce=(nonce)
    )
