extends ../layout

block head
    link(
        rel="stylesheet",
        href=(h.hashedAsset("shipyards.css"))
    )


block content

    main.aw-content__inner
        div#gameData(
            data-textversion=(textVersion),
            data-playerid=(user.selectedPlayer._id),
            data-gameid=(user.selectedPlayer.game._id),
            data-locale=(session.locale),
            data-area="shipyards",
            data-initial=(gameData)
        )
            div#gameRoot

    div
        != h.hashedAsset("planets.png")
        != h.hashedAsset("trest.png")
        != h.hashedAsset("common.js")

block scripts
    link(
        rel="stylesheet",
        href=(h.hashedAsset("shipyards.js"))
    )
