extends ../layout

block content
    main.aw-content__inner.aw-content__inner--narrow

        header.aw-content-head
            h1.aw-content-head__title= h.__("APP.RESET.TITLE")
            nav.aw-content-head__breadcrumbs
                a.aw-content-head__breadcrumb(href="/")
                    != h.icon("home", ["home-icon"])
                a.aw-content-head__breadcrumb(href="/auth/login")= h.__("APP.LOGIN.TITLE_NAV")
                a.aw-content-head__breadcrumb(href="/auth/reset")= h.__("APP.RESET.TITLE_NAV")

        form.aw-narrowform(action="/auth/reset" method="POST")

            .aw-narrowform__row= h.__("APP.RESET.INTRO")

            .aw-narrowform__row(class=`${errors && errors.email ? "error" : ""}`)
                .aw-narrowform-input
                    label.aw-narrowform-input__label(for="email")= h.__("APP.LOGIN.EMAIL_LABEL")
                    input.aw-narrowform-input__input(type="email", name="email", id="email", placeholder=(h.__("APP.LOGIN.EMAIL_PLACEHOLDER")), required, aria-required="true", value=(data && data.email))
                if errors && errors.email
                    .aw-narrowform__error-message= errors.email.msg
                .aw-narrowform__row-description= h.__("APP.LOGIN.EMAIL_DESCRIPTION")

            .aw-narrowform__row(class=`${errors && errors.captcha ? "error" : ""}`)
                .aw-narrowform-input
                    label.aw-narrowform-input__label.aw-narrowform-input__label--captcha(for="captcha")
                        != captcha
                    input.aw-narrowform-input__input(type="text", name="captcha", id="captcha", placeholder=(h.__("APP.REGISTER.CAPTCHA_PLACEHOLDER")), required, aria-required="true", value=(data && data.captcha))
                if errors && errors.captcha
                    .aw-narrowform__error-message= errors.captcha.msg
                .aw-narrowform__row-description!= h.__("APP.REGISTER.CAPTCHA_DESCRIPTION")

            .aw-narrowform__row
                .aw-narrowform__submit
                    button.aw-btn.aw-btn--icon(type="submit")
                        != h.icon("key", ["small"])
                        != h.__("APP.RESET.SUBMIT")
